.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    border-bottom: #ddd 1px solid;
}

.navbar__list {
    display: flex;
    gap: 1rem;
}

.logo {
    font-size: larger;
    font-weight: bold;
}